<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="title">
                <h1>To-Do List</h1>
            </div>
            <div class="search">
                <input @keyUp.enter="addElement()" v-model="newLi" type="text" >
                <button @click="addElement()">Aggiungi</button>
            </div>
            <ul>
                <li v-for="(li, index) in myArray" :key="index">
                    <span :class="{done: li.done}" @click="li.toggleDone()">{{li.text}}</span>
                    <div class="bottoni">
                        <button @click="taskEseguito(index)" class="executed">done</button>
                        <button @click="eliminaOggetto(index)" class="delete">delete</button>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>